{%  block main %}
<div class="main_area">
  <div class="growth_wrap">
    <p class="growth_text">Let's Create your Company's Growth Strategy Together!<br />
      <span class="develop_text">We develop personal strategy for your business growing</span></p>
  </div>
  <div class="body_wrap">
    <div class="left_body_wrap">
      <div class="left_body_main">
        <div class="main_wrap">


          <p>Welcome {{ user.username }} !!!</p>
          <a href="/green/logout/">Logout</a>


          <div class="watch_main_wrap">

            <br class="blank" />
          </div>
        </div>
      </div>
    </div>
    <div class="right_body_wrap">

      <div class="event_wrap">
        <div class="event_top_wrap">
          <p class="latest_text">latest news</p>
        </div>
        <div class="event_meddile_wrap">
          <div class="feb_wrap">
            <p class="green_right">2016<br />
              <br />
              <span class="busniess_area_text1">Lorem ipsum dolor sit amet, consectetueradipiscing elit. Donec molestie. Sed aliquams.</span></p>
            <p style="padding:6px 0 12px 35px;"><a href="#" class="read_more2">more</a></p>
            <p class="green_right">2016<br />
              <br />
              <span class="busniess_area_text1">Lorem ipsum dolor sit amet, consectetueradipiscing elit. Donec molestie. Sed aliquams.</span></p>
            <p style="padding:6px 0 0 35px;"><a href="#" class="read_more2">more</a></p>
          </div>
        </div>
        <div><img src="/static/images/event_bottom.jpg" alt="" /></div>
      </div>
    </div>
    <br class="blank" />
  </div>
</div>
{% endblock %}
