{%  block main %}
<style type="text/css">
  label.error {
    color:red;
  }
</style>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.15.0/jquery.validate.min.js"></script>
<script>
    $(document).ready(function(){
        $( "#validation_user" ).validate({
            rules: {
                "username": {
                    required: true,
                },
                "password": {
                    required: true,
                }

            },
            messages: {
                "username": {
                    required: "Please enter username.",
                },
                "password": {
                    required: "Please enter password.",
                }
            }
        });
    });
</script>
<div class="main_area">

  <div class="body_wrap">
    <div class="left_body_wrap">
      <div class="left_body_main">
        <div class="main_wrap">
          <p><span class="welcome_text">Welcome</span><span class="web_text"></span><br />
            <br />

            <br class="blank" />
          </div>

            </div>
            <br class="blank" />
          </div>
        </div>
      </div>
    </div>
    <div class="right_body_wrap">

      <div class="event_wrap">
        <div class="event_top_wrap">
          <p class="latest_text">latest news</p>
        </div>
        <div class="event_meddile_wrap">
          <div class="feb_wrap">
            <p class="green_right">2016<br />
              <br />
              <span class="busniess_area_text1">Lorem ipsum dolor sit amet, consectetueradipiscing elit. Donec molestie. Sed aliquams.</span></p>
            <p style="padding:6px 0 12px 35px;"><a href="#" class="read_more2">more</a></p>
            <p class="green_right">2016<br />
              <br />
              <span class="busniess_area_text1">Lorem ipsum dolor sit amet, consectetueradipiscing elit. Donec molestie. Sed aliquams.</span></p>
            <p style="padding:6px 0 0 35px;"><a href="#" class="read_more2">more</a></p>
          </div>
        </div>
        <div><img src="/static/images/event_bottom.jpg" alt="" /></div>
      </div>
    </div>
    <br class="blank" />
  </div>
</div>

{% endblock %}
